.resume .container {
  max-width: 1065px;
}

.entrance {
  display: grid;
  grid-template-columns: 355px auto;

  section {
    margin: space(2) 0;
    padding: 0 space(3);
  }
}

.content-about {
  ul {
    margin: space(2) 0;
  }

  li {
    display: inline-block;
    margin-right: space(2);

    img {
      height: 26px;
      width: 26px;
      margin-right: space(1);
      vertical-align: middle;
    }

    a {
      text-decoration: underline;
    }
  }


}

.content-experence {
  h3 {
  }
  
  ul .experence {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 7px;
    padding: 0;
    margin: 0;

    .experence-left {
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      padding-top: 25px;
    }

    .experence-right {
      padding: 20px;
      position: relative;
      border-left: solid 2px black;

      &::before {
        content: "";
        height: 16px;
        width: 16px;
        position: absolute;
        left: -9px;
        top: 40px;
        transform: translateY(-50%);
        background-color: black;
        border-radius: 100%;
      }

      h4 {
        a {
          font-size: 1rem;
          display: block;
          width: fit-content;
        }
      }
    }
  }
}

.content-skills {
  margin-top: space(3);
  p {
    margin-bottom: space(2);
  }
}

.skills-table {
  display: grid;
  font-weight: 500;
  grid-template-columns: 1fr 1fr 1fr;

  ul > li {
    margin-bottom: space(2);
    font-size: 1.2rem;
    list-style: circle inside;
  }
}


.content-hobbies {
  ul {
    margin-top: space(2);
  }

  ul > li {
    margin-bottom: space(1);
  }
}

aside {
  position: sticky;
  top: 0;
  background: #f6f6f6;
  height: 660px;
  padding: 0 space(3);

  .profil {
    margin: space(2) 0;

    h3 {
      margin: space(3) 0;
    }

    ul > li {
      margin: space(1) 0;

      img {
        width: 16px;
        margin-right: space(1);
      }
    }

    .img-profil {
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      width: 10rem;
    }
  }

}
footer {
  margin-top: space(5);
}


@media screen and (max-width:1023px) {
	.entrance {
		display: block
  }
  aside {
    position: initial;
    height: auto;
    padding-bottom: space(3);
  }
}
@media screen and (max-width:768px) {
  .description {
    width: 90vw;
    background: #fff;
    padding: 14px;
    position: relative;
    margin-left: -146px;
  }
  .content-skills, .content-hobbies{
    padding: 0 space(2);
  }
  .content-skills {
    ul {
      margin-bottom: space(4);
    }
  }
}



@media screen and (max-width:900px) {
	.timeline ul {
		padding: 0
	}
}

@media screen and (max-width:900px) {
	.skills-table {
		display: block
	}
}

@media screen and (max-width:900px) {
	.skills {
		margin-top: 0
	}
}









